<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaHorarios.Web</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <style>
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            background: #f4f6f9;
            margin: 0;
        }

        main {
            flex: 1;
        }

        .navbar {
            background: #1e293b !important;
        }

        .navbar-brand,
        .nav-link {
            color: white !important;
        }

        footer {
            background: #1e293b;
            color: white !important;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                Sistema Horarios
            </a>

            <div class="collapse navbar-collapse show">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            Inicio
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Docentes" asp-action="Index">
                            Docentes
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Asignaturas" asp-action="Index">
                            Asignaturas
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Aulas" asp-action="Index">
                            Aulas
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Grupos" asp-action="Index">
                            Grupos
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-center py-3 mt-4">
        <div class="container">
            &copy; 2026 - Sistema Horarios
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>