USE [master]
GO
/****** Object:  Database [SistemaHorariosDB]    Script Date: 22/2/2026 1:59:08 p. m. ******/
CREATE DATABASE [SistemaHorariosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaHorariosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaHorariosDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaHorariosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SistemaHorariosDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaHorariosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaHorariosDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/2/2026 1:59:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asignaturas]    Script Date: 22/2/2026 1:59:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asignaturas](
	[IdAsignatura] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NOT NULL,
	[HorasSemanales] [int] NOT NULL,
 CONSTRAINT [PK_Asignaturas] PRIMARY KEY CLUSTERED 
(
	[IdAsignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aulas]    Script Date: 22/2/2026 1:59:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aulas](
	[IdAula] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NOT NULL,
	[Capacidad] [int] NOT NULL,
 CONSTRAINT [PK_Aulas] PRIMARY KEY CLUSTERED 
(
	[IdAula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Docentes]    Script Date: 22/2/2026 1:59:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Docentes](
	[IdDocente] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NOT NULL,
	[Especialidad] [nvarchar](max) NOT NULL,
	[HorasMaximas] [int] NOT NULL,
 CONSTRAINT [PK_Docentes] PRIMARY KEY CLUSTERED 
(
	[IdDocente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grupos]    Script Date: 22/2/2026 1:59:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupos](
	[IdGrupo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](450) NOT NULL,
	[NivelEducativo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Grupos] PRIMARY KEY CLUSTERED 
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Horarios]    Script Date: 22/2/2026 1:59:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horarios](
	[IdHorario] [int] IDENTITY(1,1) NOT NULL,
	[IdDocente] [int] NOT NULL,
	[IdAsignatura] [int] NOT NULL,
	[IdAula] [int] NOT NULL,
	[IdGrupo] [int] NOT NULL,
	[DiaSemana] [nvarchar](max) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
 CONSTRAINT [PK_Horarios] PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260222034833_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Asignaturas] ON 

INSERT [dbo].[Asignaturas] ([IdAsignatura], [Nombre], [HorasSemanales]) VALUES (1, N'Gestión de Proyecto', 4)
INSERT [dbo].[Asignaturas] ([IdAsignatura], [Nombre], [HorasSemanales]) VALUES (2, N'Algoritmos computacionales', 3)
SET IDENTITY_INSERT [dbo].[Asignaturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Aulas] ON 

INSERT [dbo].[Aulas] ([IdAula], [Nombre], [Capacidad]) VALUES (1, N'Aula 15', 30)
INSERT [dbo].[Aulas] ([IdAula], [Nombre], [Capacidad]) VALUES (2, N'Aula 10', 40)
SET IDENTITY_INSERT [dbo].[Aulas] OFF
GO
SET IDENTITY_INSERT [dbo].[Docentes] ON 

INSERT [dbo].[Docentes] ([IdDocente], [Nombre], [Especialidad], [HorasMaximas]) VALUES (1, N'José Luis Cabrera', N'Informatica', 20)
INSERT [dbo].[Docentes] ([IdDocente], [Nombre], [Especialidad], [HorasMaximas]) VALUES (2, N'Isaias Castillo', N'Redes', 15)
SET IDENTITY_INSERT [dbo].[Docentes] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupos] ON 

INSERT [dbo].[Grupos] ([IdGrupo], [Nombre], [NivelEducativo]) VALUES (1, N'Grupo 1', N'Universitario')
INSERT [dbo].[Grupos] ([IdGrupo], [Nombre], [NivelEducativo]) VALUES (2, N'Grupo 2', N'Universitario')
SET IDENTITY_INSERT [dbo].[Grupos] OFF
GO
SET IDENTITY_INSERT [dbo].[Horarios] ON 

INSERT [dbo].[Horarios] ([IdHorario], [IdDocente], [IdAsignatura], [IdAula], [IdGrupo], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (1, 1, 1, 1, 1, N'Lunes', CAST(N'17:00:00' AS Time), CAST(N'18:00:00' AS Time))
INSERT [dbo].[Horarios] ([IdHorario], [IdDocente], [IdAsignatura], [IdAula], [IdGrupo], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (2, 1, 1, 1, 1, N'Lunes', CAST(N'18:00:00' AS Time), CAST(N'19:00:00' AS Time))
INSERT [dbo].[Horarios] ([IdHorario], [IdDocente], [IdAsignatura], [IdAula], [IdGrupo], [DiaSemana], [HoraInicio], [HoraFin]) VALUES (3, 2, 2, 2, 2, N'Lunes', CAST(N'15:00:00' AS Time), CAST(N'16:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Horarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Asignaturas_Nombre]    Script Date: 22/2/2026 1:59:09 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Asignaturas_Nombre] ON [dbo].[Asignaturas]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Aulas_Nombre]    Script Date: 22/2/2026 1:59:09 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Aulas_Nombre] ON [dbo].[Aulas]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Docentes_Nombre]    Script Date: 22/2/2026 1:59:09 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Docentes_Nombre] ON [dbo].[Docentes]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Grupos_Nombre]    Script Date: 22/2/2026 1:59:09 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Grupos_Nombre] ON [dbo].[Grupos]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Horarios_IdAsignatura]    Script Date: 22/2/2026 1:59:09 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Horarios_IdAsignatura] ON [dbo].[Horarios]
(
	[IdAsignatura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Horarios_IdAula]    Script Date: 22/2/2026 1:59:09 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Horarios_IdAula] ON [dbo].[Horarios]
(
	[IdAula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Horarios_IdDocente]    Script Date: 22/2/2026 1:59:09 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Horarios_IdDocente] ON [dbo].[Horarios]
(
	[IdDocente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Horarios_IdGrupo]    Script Date: 22/2/2026 1:59:09 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Horarios_IdGrupo] ON [dbo].[Horarios]
(
	[IdGrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Asignaturas_IdAsignatura] FOREIGN KEY([IdAsignatura])
REFERENCES [dbo].[Asignaturas] ([IdAsignatura])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK_Horarios_Asignaturas_IdAsignatura]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Aulas_IdAula] FOREIGN KEY([IdAula])
REFERENCES [dbo].[Aulas] ([IdAula])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK_Horarios_Aulas_IdAula]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Docentes_IdDocente] FOREIGN KEY([IdDocente])
REFERENCES [dbo].[Docentes] ([IdDocente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK_Horarios_Docentes_IdDocente]
GO
ALTER TABLE [dbo].[Horarios]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Grupos_IdGrupo] FOREIGN KEY([IdGrupo])
REFERENCES [dbo].[Grupos] ([IdGrupo])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Horarios] CHECK CONSTRAINT [FK_Horarios_Grupos_IdGrupo]
GO
USE [master]
GO
