@model SistemaHorarios.Web.Models.AulaViewModel

<h2>Crear Aula</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Capacidad</label>
        <input asp-for="Capacidad"
               type="number"
               class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">
        Guardar
    </button>
</form>